<h1>Sample App</h1>

<p>Привет, <%= @user.name %>!</p>

<p>
Добро пожаловать в Учебное Приложение! Перейдите по ссылке для активации аккаунта:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>