<h1>Сброс пароля</h1>

<p>Для сброса пароля перейдите по ссылке:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Срок действия ссылки истекает через два часа.</p>

<p>
Если вы не запрашивали сброс пароля, пожалуйста игнорируйте это письмо, ваш пароль
останется без изменений.
</p>